body {
  margin: 0;
  padding: 0;
}
#menu {
  position: absolute;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px black solid;
  background: linear-gradient(180deg, #717273, #535557);
}
.option {
  font-size: 24px;
  color: black;
}
h1 {
  display: flex;
  font-family: Shrikhand;
  margin: 0;
  font-size: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: beige;
  background: linear-gradient(0deg, #111213, #232527);
}
